body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.calendar-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(52, 59, 64, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 550px;
}

h1 {
    text-align: center;
    color: #2dc997;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day-header {
    padding: 5px;
    background-color: #fcfefd;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.day {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 8px;
    background-color: #fcfefd;
    color: rgb(17, 17, 17);
    text-align: center;
    border-radius: 5px;
}

.empty {
    background-color: transparent;
    
}

.day-number {
    font-size: 1.2em;
    font-weight: bold;
}

.maya-dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}

.maya-date {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border-color: black;
}

.haab-image {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-color: black;
}
